@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
}

html {
  color: #050505;
  font-family: "Inter", sans-serif;
  font-kerning: none;
  font-size: 12px;
}
@media only screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}
html body .graphic-wrapper {
  color: white;
  background-color: #050505;
  height: 85vh;
  min-height: fit-content;
  overflow: hidden;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  html body .graphic-wrapper {
    height: 90vh;
  }
}
@media only screen and (min-width: 1024px) {
  html body .graphic-wrapper {
    height: 96vh;
  }
}
html body .graphic-wrapper::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  left: 50%;
  width: 105%;
  border: 40px solid white;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  transform: translate(-50%, 50px);
}
@media only screen and (min-width: 600px) {
  html body .graphic-wrapper::after {
    border: 60px solid white;
    transform: translate(-50%, 75px);
  }
}
@media only screen and (min-width: 1024px) {
  html body .graphic-wrapper::after {
    border: 80px solid white;
    transform: translate(-50%, 100px);
  }
}
html body .header nav {
  margin-top: 18px;
  margin-bottom: 18px;
}
@media only screen and (min-width: 600px) {
  html body .header nav {
    margin-top: 52px;
    margin-bottom: 52px;
  }
}
@media only screen and (min-width: 1024px) {
  html body .header nav {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
html body .header--home {
  margin-left: 18px;
  margin-right: 18px;
}
@media only screen and (min-width: 600px) {
  html body .header--home {
    margin-left: 52px;
    margin-right: 52px;
  }
}
@media only screen and (min-width: 1024px) {
  html body .header--home {
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
  }
}
@media only screen and (min-width: 1200px) {
  html body .header--home {
    max-width: 1040px;
    width: 70vw;
  }
}
html body .header--home nav {
  text-align: right;
}
@media only screen and (min-width: 1024px) {
  html body .header--home nav {
    height: 53px;
  }
  html body .header--home nav .btn {
    position: absolute;
    right: 64px;
  }
}
html body .header--home .title-content {
  margin-top: 32px;
  max-width: 444px;
  padding-bottom: 64px;
}
html body .header--page {
  background-color: #050505;
  color: white;
  display: inline-block;
  width: 100%;
}
html body .header--page nav {
  margin-left: 18px;
  margin-right: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 600px) {
  html body .header--page nav {
    margin-left: 52px;
    margin-right: 52px;
  }
}
@media only screen and (min-width: 1024px) {
  html body .header--page nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
  }
}
@media only screen and (min-width: 1200px) {
  html body .header--page nav {
    max-width: 1040px;
    width: 70vw;
  }
}
@media only screen and (min-width: 1024px) {
  html body .header--page nav {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
html body .header--page nav .nav_heading {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}
@media only screen and (min-width: 1024px) {
  html body .header--page nav .nav_heading {
    font-size: 3rem;
  }
}
html body .main {
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 32px;
  margin-bottom: 64px;
}
@media only screen and (min-width: 600px) {
  html body .main {
    margin-left: 52px;
    margin-right: 52px;
  }
}
@media only screen and (min-width: 1024px) {
  html body .main {
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
  }
}
@media only screen and (min-width: 1200px) {
  html body .main {
    max-width: 1040px;
    width: 70vw;
  }
}
@media only screen and (min-width: 600px) {
  html body .main {
    margin-top: 100px;
    margin-bottom: 136px;
  }
}
html body .main--home {
  margin-top: 18px;
}
html body .main section {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 1200px) {
  html body .main section {
    margin-bottom: 56px;
  }
}
html body footer {
  background-color: #050505;
  color: white;
  display: inline-block;
  width: 100%;
}
html body footer .footer_main-content {
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 18px;
  margin-bottom: 18px;
}
@media only screen and (min-width: 600px) {
  html body footer .footer_main-content {
    margin-left: 52px;
    margin-right: 52px;
  }
}
@media only screen and (min-width: 1024px) {
  html body footer .footer_main-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
  }
}
@media only screen and (min-width: 1200px) {
  html body footer .footer_main-content {
    max-width: 1040px;
    width: 70vw;
  }
}
@media only screen and (min-width: 600px) {
  html body footer .footer_main-content {
    margin-top: 52px;
    margin-bottom: 52px;
  }
}
@media only screen and (min-width: 1024px) {
  html body footer .footer_main-content {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1200px) {
  html body footer .footer_main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 146px;
    margin-bottom: 146px;
  }
}
html body footer .footer_main-content .footer-section {
  margin-bottom: 24px;
}

.btn {
  background-color: white;
  border: none;
  border-radius: 8px;
  color: #050505;
  display: inline-block;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}
@media only screen and (min-width: 600px) {
  .btn {
    font-size: 1.5rem;
    padding: 12px 20px;
  }
}

.sub-section {
  margin-bottom: 1.3rem;
}

p {
  font-size: 1rem;
  margin-bottom: 8px;
  line-height: 1.5rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.3rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

h4 {
  font-size: 1rem;
}

.heading--page-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 600px) {
  .heading--page-title {
    font-size: 6rem;
    margin-bottom: 3rem;
  }
}

.heading--sub-heading {
  color: #393737;
  margin-bottom: 0.8rem;
  font-weight: normal;
  text-transform: uppercase;
}

a {
  color: inherit;
}

.text--grey {
  color: #393737;
}

/*# sourceMappingURL=style.css.map */
